@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #0f172a, #1e293b);
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom right, #2563eb, #9333ea);
}

header h1 {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

/* header h1 span {
    color: #0f172a;
} */


.project-list {
    text-align: center;
}

.project-list h1{
    padding: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project {
    width: 380px;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #9333ea;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 360px;
    height: 300px;
    border-radius: 5px;
    background-color: transparent;
    object-fit: cover;
    object-position: center;
}

.project h2 {
    margin: 10px;
    font-size: 1.5rem;
    color: #adb5bd;
}


.show-code-btn {
    padding: 6px 16px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.show-code-btn:hover {
    background-color: #9333ea;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dcdcdc;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.copy-btn,
.close-btn {
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    background: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn {
    right: 10px;
}

.copy-btn:hover,
.close-btn:hover {
    background: #005bb5;
}

.code-container {
    max-height: 300px;
    overflow-y: auto;
    background: #1e1e1e;
    color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

.language-options {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.lang-btn {
    padding: 5px 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lang-btn:hover {
    background: #555;
}


/* Navbar  */

.navbar {
    justify-content: center;
}

.navbar-nav {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: #eee;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline #fff;
    text-underline-position: below;
    text-decoration-thickness: 2px;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.btn button {
    background-color: #1877f2;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 0px 0px 2px #111;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn button:hover {
    background-color: #9333ea;
    transform: translateY(-3px);
}

.btn i {
    color: #ccc;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.btn i:hover.color1 {
    color: #0e76a8; /* LinkedIn Blue */
}

.btn i:hover.color2 {
    color: #e1306c; /* Instagram Pink */
}

.btn i:hover.color3 {
    color: #fff; /* Twitter Blue */
}

.btn i:hover.color4 {
    color: #1877f2; /* Facebook Blue */
}


/* Animation for website */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotateIn {
    from {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

/* Responsive for Mobile  */
@media (max-width: 768px) {
    .navbar-toggler {
        background-color: #e83e8c;
        border: none;
        
    }
    
    .container .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-link {
        margin: 10px 0;
    }
}